label#maplabel-dark {
    color: white;
    font-weight: 500;
    text-shadow: 
        -1px -1px 3px black, /*right */
        1px 1px 3px black, /*top */
        1px -1px 3px black, /*left */
        -1px 1px 3px black; /*bottom */
}

label#maplabel-light {
    color: black;
    font-weight: 500;
    text-shadow: 
        -1px -1px 3px lightgrey, /*right */
        1px 1px 3px lightgrey, /*top */
        1px -1px 3px lightgrey, /*left */
        -1px 1px 3px lightgrey; /*bottom */
}
image#mapicon-high-speed {
-gtk-icon-shadow: 
    -1px -1px 3px red,
    1px 1px 3px red,
    1px -1px 3px red,
    -1px 1px 3px red;
}

image#mapicon-medium-speed {
-gtk-icon-shadow: 
    -1px -1px 2px yellow,
    1px 1px 2px yellow,
    1px -1px 2px yellow,
    -1px 1px 2px yellow;
}

image#mapicon-low-speed {
-gtk-icon-shadow: 
    -1px -1px 3px #3366ff,
    1px 1px 3px #3366ff,
    1px -1px 3px #3366ff,
    -1px 1px 3px #3366ff;
}

image#mapicon-ac {
-gtk-icon-shadow: 
    -1px -1px 2px lightgreen,
    1px 1px 2px lightgreen,
    1px -1px 2px lightgreen,
    -1px 1px 2px lightgreen;
}
